@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/nunito-sans");

body {
  font-family: "Nunito Sans", sans-serif;
}

.lang .ant-select-selector {
  border-radius: 50px !important;
  background: #f7f7f8 !important;
  border: none !important;
}
.ant-radio-wrapper {
  padding: 32px 16px !important;
}
.ant-select-selector {
  border-radius: 12px !important;
}
.ant-radio-group {
  display: flex !important;
  flex-direction: row !important;
  gap: 16px !important;
  justify-content: space-between !important;
  align-items: center !important;
}
